API_URL=http://localhost:3123/api

POSTGRES_HOST=pedago01c.univ-avignon.fr
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=etd

SESSION_SECRET=
MONGO_URI=mongodb://pedago.univ-avignon.fr:27017/db-CERI
MONGO_COLLECTION=MySession3123
